extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  a(href='/my-questions') My Questions
  a(href='/my-answers') My Answers

  h1= title
  if questions && questions.length > 0
    each question in questions
      input(type='hidden' id= `questionid` value= question.id)
      input(type='hidden' id= 'userid' value= user.id)
      div
        div= question.User.user_name
        div
          a(href=`/questions/${question.id}`) #{question.title}
        div
          if question.Answers && question.Answers.length > 0
            each answer in question.Answers
              div= answer.User.user_name
              div= answer.content
        div
          button(class='upvote-button' id= `${question.id}`) Upvote
          span= 'number of upvote placeholder'
        div= '*************************'
