extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  if questions && questions.length > 0
    each question in questions
      div 
        div= question.User.user_name
        div= question.title 
        div 
          if question.Answers && question.Answers.length > 0
            each answer in question.Answers 
              div= answer.content 
        div= 'placeholder for upvote button'
        div= '*************************'
