extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  a(href='/my-questions') My Questions
  a(href='/my-answers') My Answers

  h1(id='dropdownSelect')= title
  if myAnswers && myAnswers.length > 0
    //- answer[i] in each myAnswers
    each answer in myAnswers

      div
        div= answer.Question.User.user_name
        div= answer.Question.title
        div
          div= answer.User.user_name
          div= answer.content

        div= 'placeholder for upvote button'
        div= '*************************'
