extends layout
include utils.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)
block content
    h1= title
    div= question.User.user_name
    div
        h3 #{question.title}
        button(id='answer') I want to answer!
        div
          if answers && answers.length > 0
            each answer in answers
              div
                p(id="userName")= answer.User.user_name
                p(id="answerContent")= answer.content
                p(id="answerVote")
        div= 'placeholder for upvote button'
        div= '*************************'
        div(id='answerContain')
            form(action=`/questions/${question.id}/answers` method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                +field('Answer:', 'content')
                div
                    button(type='submit') Submit
