extends layout
include utils.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  a(href='/my-questions') My Questions
  a(href='/my-answers') My Answers

  h1(id='dropdownSelect')= title
  if myAnswers && myAnswers.length > 0
    //- answer[i] in each myAnswers
    each answer in myAnswers
    
      div
        div= answer.Question.User.user_name
        div 
          a(href=`questions/${answer.Question.id}`)= answer.Question.title
        div
          button(class='upvote-question-button' id= `${answer.question_id}`) Upvote
          div(class='vote_holder')= answer.Question.Questions_votes.length
        div(class='answer-container' id=`answer-${answer.id}`)
          div= answer.User.user_name
          div 
            p= answer.content
            button(class='deleteBtn' id=`${answer.id}`) delete the answer 
            button(class='editBtn' id=`editBtn-${answer.id}`) edit the answer
            div(class='answerContain' id=`${answer.Question.id}`)
              form(action=`/questions/${answer.Question.id}/answers` method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                +field('Answer:', 'content')
                div
                  button(type='submit') Submit
          div
            button(class='upvote-answer-button' id=`${answer.id}`) Upvote
            div(class='answer_vote_holder')= answer.Answers_votes.length
        div= '*************************'
