extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  a(href='/my-questions') My Questions
  a(href='/my-answers') My Answers

  h1= title
  if myQuestions && myQuestions.length > 0
    each question in myQuestions
      div
        div(class='user-text')= question.User.user_name
        div
          a(href=`questions/${question.id}`)= question.title
        div
          button(class='upvote-question-button' id= `${question.id}`) Upvote
          div(class='vote_holder')= question.Questions_votes.length
        div
          if question.Answers && question.Answers.length > 0
            each answer in question.Answers
              div(class='user-text')= answer.User.user_name
              div= answer.content
              div
                button(class='upvote-answer-button' id=`${answer.id}`) Upvote
                div(class='answer_vote_holder')= answer.Answers_votes.length
        div= '*************************'
